body{
  
  justify-content: center;
  align-items: center;
  height: 95vh;

  background-color: black;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  

  zoom: 150%;
}

body::-webkit-scrollbar{
  display: none;
}

.heamagallery-header{
  color: white;
  text-align: center;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.each-line-title{
  /* display: line; */
  text-decoration: none;
  color: white;
}

.about-button{
  background-color: black;
  color: white;
  border: none;
  font-size: 10px;
  cursor: pointer;
  margin-left:1px;
  font-family: 'Roboto Mono', monospace;
}


.contact-button{
  background-color: black;
  color: white;
  border: none;
  font-size: 10px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'Roboto Mono', monospace;
}

.contact-button:hover, .about-button:hover{
  color:red;
}

.contact-text{
  opacity: 0;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
  right: 10px;
  position: absolute;
  transition: opacity 1s linear;
}

.contact-text.show{
  opacity: 1;
}

.about-text{
  opacity: 0;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
  position: absolute;
  text-align: left;
  margin-left: 50px;
  margin-right: 150px;
  line-height: 20px;

  transition: opacity 1s linear;
}

.about-text.show{
  opacity: 1;
}

/* 
.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  
} */

.instagram-icon{
  width: 10px;
  height: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.instagram-icon-img{
  width: 10px;
  height: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: -5px;
}

 .instagram-name{
  margin-top: 10px;
  margin-left: -1px;
 }

 .instagram-hyperlink{
  text-decoration: none;
  color: white;
 }
 
.instagram-name:hover{
  color: red;
 }

 a:visited{
  color: white;
 }

 .gallery_button{
  background-color: black;
  color: white;
  border: none;
  font-size: 10px;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;

  position:absolute;
  left: 50%; /* Horizontally center the button */
  transform: translateX(-50%); /* Move the button left by 50% of its own width */
  top: 750px; /* Vertically center the button */
  /*transform: translateY(-40%); /* Move the button up by 50% of its own height */

  z-index: 100;
 }
 
 .gallery_link:hover{
  color: red;
 }

 .gallery_link{
  text-decoration: none;
  
 }

 @media only screen and (max-width: 500px){


  .about-text{
    opacity: 0;
    /* transition: opacity 1s linear; */

    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 8px;
    position: absolute;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.17);
    z-index: 2;

    margin-top: 55%;
    margin-left: auto;
    margin-right: auto;

    padding-left: 13%;
    padding-right: 15%;

    line-height: 18px;

  }

 .about-text.show{
    opacity: 1;
  }

  .images.show{
    filter:brightness(0.2);
    z-index: 1;
  }
  
 
  
  .contact-button{
    font-size: 11px;
  }

  .contact-text{
    opacity: 0;
    transition: opacity 1s linear; 
    position: absolute;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 8px;
    
    margin-top: 75%;
    margin-left: auto;
    margin-right: auto;

    padding-left: 15%;
    padding-right: 26%; 
    /* 이렇게 중앙을 맞추는게 맞는지는 모르겠는데 일단 억지로 맞춤 */
    
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .contact-text.show{
    opacity: 1;
  }
  
 }
